<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047765402693-551eghp6alqjforq8eg5rthol8a98gdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047765402693-551eghp6alqjforq8eg5rthol8a98gdi</string>
	<key>API_KEY</key>
	<string>AIzaSyDyq5Crj5DTKqCJcglHnlYYDeKMSWNu1nc</string>
	<key>GCM_SENDER_ID</key>
	<string>1047765402693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>projectOutfit</string>
	<key>PROJECT_ID</key>
	<string>ootd-19cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>ootd-19cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047765402693:ios:f92262ba78fa2a85f48f2c</string>
</dict>
</plist>